/*=============================================================================
==	Standard
=============================================================================*/
/* Neutralize styling: 
   Elements we want to clean out entirely: */
html, body, form, fieldset {
	margin: 0;
	padding: 0;
	font: 12px/18px Verdana, Arial, Helvetica, sans-serif;
}

/* Neutralize styling: 
   Elements with a vertical margin: */
h1, h2, h3, h4, h5, h6, p, pre,
blockquote, ul, ol, dl, address {
	margin: 0 0 1em 0;
	padding: 0;
}
/*=============================================================================
==	Body & Container
=============================================================================*/
body, html {
	
}
body {
	color:#333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
}
#container {
	background:#fff url(../images/background.png) center top no-repeat;
	padding:40px 40px 0 40px;
	text-align:center;
}

/*=============================================================================
==	Footer
=============================================================================*/
footer {
	background:#fff url(../images/footer.png) center top no-repeat;
	clear:both;
	display:block;
	height:100px;
	margin:0 auto;
	padding-top:20px;
	text-align:center;
}

div.photo
{
	display:inline-block;
	zoom:1;
	*display:inline;
	position:relative;
	border:solid 1px #ccc;
	margin:1em;
	width:322px;
}
	div.photo img
	{
		border:none;
		margin:10px 10px 5px 10px;
		width:300px;
	}
	div.photo span
	{
		background:#eee;
		border-top:solid 1px #ccc;
		display:block;
		margin-top:5px;
		padding:10px;
		text-align:center;
	}